 <%= stylesheet_link_tag "/stylesheets/style2.css" %>
 <%= stylesheet_link_tag "/stylesheets/base.css" %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1659450274342868";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	

	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><%=@post.title%></h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="/home">Home</a>
						<span class="crumbs-span">/</span>
						<a href="/posts">Questions</a>
						<span class="crumbs-span">/</span>
						<span class="current"><%=@post.title%></span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				<article class="question single-question question-type-normal">
					<h2>
						<%= link_to @post.title, {:controller => "posts",:action => "show",:id => @post.id} %>
					
					</h2>
					<a class="question-report" href="#">Report</a>
					
					<div class="question-inner">
						<div class="clearfix"></div>
						<p class="question-desc"><%=@post.content.html_safe%></p>
		
						<div class="question-details">
							<span class="question-answered question-answered-done"><i class="fa fa-check"></i>solved</span>
							<span class="question-favorite"><i class="fa fa-star"></i>5</span>
						</div>
						<span class="question-category"><a href="#"><i class="fa fa-folder"></i>wordpress</a></span>
						<span class="question-date"><i class="fa fa-clock-o"></i><%=time_ago_in_words(@post.created_at)%> ago</span>
						<span class="question-comment"><a href="#"><i class="fa fa-comment"></i><%=@comments.count%> Answer</a></span>
						<span class="question-view"><i class="fa fa-user"></i><%=@f.total_view_count%> views</span>
					
						<ul class="single-question-vote">
<%  pp = @liked
  ppS = "+" + pp.to_s
%>
<span class="single-question-vote-result" style= 'float:right' data-id="<%= @post.id %>"><%=ppS%></span>
<% if session[:signed] == true %>
 <% 	ret = isliked? @post.id 
 		if ret != true
 %>

       <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_post_path(@post),remote: true, class: 'vote',style: 'float:right',data: { toggle_href: dislike_post_path(@post), id:
@post.id }%>


<%		end 
		if ret != false
%>

      <%= link_to '<i class="fa fa-thumbs-down"></i>'.html_safe, dislike_post_path(@post),:remote => true, class: 'vote',style: 'float:right',data: { toggle_href: like_post_path(@post), id:
@post.id }%>

<% 		end 
  end

  #negative post string
  np = @negliked
  npS = "-" + np.to_s
%>
<span class="single-question-vote-result2"  style= 'float:right' data-id="<%= @post.id %>"><%=npS%></span>

						</ul>
						<div class="clearfix"></div>
					</div>
				</article>
				
				<div class="share-tags page-content">
					<div class="question-tags"><i class="fa fa-tags"></i>

						<%
							@ptag.each do |t|
								obj = Tag.find(t.tag_id)
								tname = obj.name
								tf_id = obj.friendly_id
				
				   		%>	
								<%=link_to tname,{:controller => "tags",:action => "show",:id => tf_id}	 %>
						<%end%>


					</div>
					<div class="fb-share-button" data-href="<%=request.original_url%>" data-layout="icon_link"></div>
					<div class="share-inside-warp">
						<ul>
							<li>
								<a href="#" original-title="Facebook">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#3b5997" span_hover="#666">
											<i i_color="#FFF" class="social_icon-facebook"></i>
										</span>
									</span>
								</a>

								<a href="#" target="_blank">Facebook</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#00baf0" span_hover="#666">
											<i i_color="#FFF" class="social_icon-twitter"></i>
										</span>
									</span>
								</a>
								<a target="_blank" href="#">Twitter</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#ca2c24" span_hover="#666">
											<i i_color="#FFF" class="social_icon-gplus"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Google plus</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#e64281" span_hover="#666">
											<i i_color="#FFF" class="social_icon-dribbble"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Dribbble</a>
							</li>
							<li>
								<a target="_blank" href="#">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#c7151a" span_hover="#666">
											<i i_color="#FFF" class="icon-pinterest"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Pinterest</a>
							</li>
						</ul>
						<span class="share-inside-f-arrow"></span>
						<span class="share-inside-l-arrow"></span>
					</div><!-- End share-inside-warp -->
					<div class="share-inside"><i class="fa fa-share-alt"></i>Share</div>
					<div class="clearfix"></div>
				</div><!-- End share-tags -->
				
				<div class="about-author clearfix">
				    <div class="author-image">
				    	<a href="/profile/<%=@user.id%>" original-title="ahmed" class="question-author-img tooltip-n"><img alt="" src="/images/profile/avatar.png"></a>

				    </div>
				    <div class="author-bio">
				        <h4>About the Author</h4>
				        <%=@user.name%><br/>
				        <%=@user.about%>
				    </div>
				</div><!-- End about-author -->
				
				<div id="related-posts">
					<h2>Related questions</h2>
					<ul class="related-posts">
						<% @relates.each do |relate|
						%>	
						
						<li class="related-item"><h3><i class="fa fa-angle-double-right"></i>	
						<%= link_to relate.title , {:action => "show",:id => relate.friendly_id} %>
						</h3></li>

						<%end%>
					</ul>
				</div><!-- End related-posts -->
				
				<div id="commentlist" class="page-content">
					<div class="boxedtitle page-title"><h2>Answers ( <span class="color"><%=@comments.count%></span> )</h2></div>
<ol class="commentlist clearfix">
	<%= comments_tree_for @comments %>
</ol><!-- End commentlist -->
				</div><!-- End page-content -->

<%if(session[:signed] == true)%>
	<%=	render 'form' %>	
<%end%>				
				<div class="post-next-prev clearfix">
				    <p class="prev-post">
				        <a href="#"><i class="fa-fast-backward fa"></i>&nbsp;Prev question</a>
				    </p>
				    <p class="next-post">
				        <a href="#">Next question&nbsp;<i class="fa-fast-forward fa"></i></a>                                
				    </p>
				</div><!-- End post-next-prev -->	
			</div><!-- End main -->
			<aside class="col-md-3 sidebar">
				<div class="widget widget_stats">
					<h3 class="widget_title">Stats</h3>
					<div class="">
						<ul>
							<li><i class="fa fa-question"></i> Questions ( <span><%=Post.count%></span> )</li>
							<li><i class="fa fa-comment"></i> Answers ( <span><%=Comment.count%></span> )</li>
						</ul>
					</div>
				</div>
				
				<div class="widget widget_social">
					<h3 class="widget_title">Find Us</h3>
					<ul>
						<li class="rss-subscribers">
							<a href="#" target="_blank">
							<strong>
								<i class="fa fa-rss"></i>
								<span>Subscribe</span><br>
								<small>To RSS Feed</small>
							</strong>
							</a>
						</li>
						<li class="facebook-fans">
							<a href="#" target="_blank">
							<strong>
								<i class="social_icon-facebook"></i>
								<span>5,000</span><br>
								<small>People like it</small>
							</strong>
							</a>
						</li>
						<li class="twitter-followers">
							<a href="#" target="_blank">
							<strong>
								<i class="social_icon-twitter"></i>
								<span>3,000</span><br>
								<small>Followers</small>
							</strong>
							</a>
						</li>
						<li class="youtube-subs">
							<a href="#" target="_blank">
							<strong>
								<i class="fa fa-play"></i>
								<span>1,000</span><br>
								<small>Subscribers</small>
							</strong>
							</a>
						</li>
					</ul>
				</div>

				<div class="widget widget_highest_points">
					<h3 class="widget_title">Highest points</h3>
					<ul>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/admin.jpg" alt=""></a>
							</div> 
							<h6><a href="#">admin</a></h6>
							<span class="comment">12 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/avatar.png" alt=""></a>
							</div> 
							<h6><a href="#">vbegy</a></h6>
							<span class="comment">10 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/avatar.png" alt=""></a>
							</div> 
							<h6><a href="#">ahmed</a></h6>
							<span class="comment">5 Points</span>
						</li>
					</ul>
				</div>
				
				<%= render 'tagwidget' %>
				
				<div class="widget">
					<h3 class="widget_title">Recent Questions</h3>
					<ul class="related-posts">
						<% @recents.each do |recent|
						%>	
						<li class="related-item">
						<h3>
						<%= link_to recent.title , {:action => "show",:id => recent.friendly_id} %>
						</h3></li>

						<p class="question-desc"><%=truncate recent.content.html_safe, length: 150,:omission => "",:escape => false%></p>
						<div class="clear"></div><span><%=recent.created_at.to_time.strftime("%B %e at %l:%M %p")%></span>
						<%end%>
					</ul>
				</div>
				
			</aside><!-- End sidebar -->
		</div><!-- End row -->
	</section><!-- End container -->