 <%= stylesheet_link_tag "/stylesheets/style2.css" %>
 <%= stylesheet_link_tag "/stylesheets/base.css" %>

	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>This is my first Question</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<a href="#">Questions</a>
						<span class="crumbs-span">/</span>
						<span class="current">This is my first Question</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				<article class="question single-question question-type-normal">
					<h2>
						<%= link_to @post.title, {:controller => "posts",:action => "show",:id => @post.id} %>
					
					</h2>
					<a class="question-report" href="#">Report</a>
					
					<div class="question-inner">
						<div class="clearfix"></div>
						<p class="question-desc"><%=@post.content%></p>
		
						<div class="question-details">
							<span class="question-answered question-answered-done"><i class="fa fa-check"></i>solved</span>
							<span class="question-favorite"><i class="fa fa-star"></i>5</span>
						</div>
						<span class="question-category"><a href="#"><i class="fa fa-folder"></i>wordpress</a></span>
						<span class="question-date"><i class="fa fa-clock-o"></i><%=time_ago_in_words(@post.created_at)%> ago</span>
						<span class="question-comment"><a href="#"><i class="fa fa-comment"></i><%=@ct.count%> Answer</a></span>
						<span class="question-view"><i class="fa fa-user"></i><%=@f.total_view_count%> views</span>
					
						<ul class="single-question-vote">
<%  pp = @liked
  ppS = "+" + pp.to_s
%>
<span class="single-question-vote-result" style= 'float:right' data-id="<%= @post.id %>"><%=ppS%></span>
<% if session[:signed] == true %>
 <% 	ret = isliked? @post.id 
 		if ret != true
 %>

       <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_post_path(@post),remote: true, class: 'vote',style: 'float:right',data: { toggle_href: dislike_post_path(@post), id:
@post.id }%>


<%		end 
		if ret != false
%>

      <%= link_to '<i class="fa fa-thumbs-down"></i>'.html_safe, dislike_post_path(@post),:remote => true, class: 'vote',style: 'float:right',data: { toggle_href: like_post_path(@post), id:
@post.id }%>

<% 		end 
  end

  #negative post string
  np = @negliked
  npS = "-" + np.to_s
%>
<span class="single-question-vote-result2"  style= 'float:right' data-id="<%= @post.id %>"><%=npS%></span>

						</ul>
						<div class="clearfix"></div>
					</div>
				</article>
				
				<div class="share-tags page-content">
					<div class="question-tags"><i class="fa fa-tags"></i>

						<%
							@ptag.each do |t|
								tname = Tag.find(t.tag_id).name
						%>	
								<%=link_to tname,{:controller => "tags",:action => "show",:id => t.tag_id}	 %>
						<%end%>


					</div>
					<div class="share-inside-warp">
						<ul>
							<li>
								<a href="#" original-title="Facebook">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#3b5997" span_hover="#666">
											<i i_color="#FFF" class="social_icon-facebook"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Facebook</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#00baf0" span_hover="#666">
											<i i_color="#FFF" class="social_icon-twitter"></i>
										</span>
									</span>
								</a>
								<a target="_blank" href="#">Twitter</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#ca2c24" span_hover="#666">
											<i i_color="#FFF" class="social_icon-gplus"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Google plus</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#e64281" span_hover="#666">
											<i i_color="#FFF" class="social_icon-dribbble"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Dribbble</a>
							</li>
							<li>
								<a target="_blank" href="#">
									<span class="icon_i">
										<span class="icon_square" icon_size="20" span_bg="#c7151a" span_hover="#666">
											<i i_color="#FFF" class="icon-pinterest"></i>
										</span>
									</span>
								</a>
								<a href="#" target="_blank">Pinterest</a>
							</li>
						</ul>
						<span class="share-inside-f-arrow"></span>
						<span class="share-inside-l-arrow"></span>
					</div><!-- End share-inside-warp -->
					<div class="share-inside"><i class="fa fa-share-alt"></i>Share</div>
					<div class="clearfix"></div>
				</div><!-- End share-tags -->
				
				<div class="about-author clearfix">
				    <div class="author-image">
				    	<a href="/profile/<%=@user.id%>" original-title="ahmed" class="question-author-img tooltip-n"><img alt="" src="/images/profile/avatar.png"></a>

				    </div>
				    <div class="author-bio">
				        <h4>About the Author</h4>
				        <%=@user.name%><br/>
				        <%=@user.about%>
				    </div>
				</div><!-- End about-author -->
				
				<div id="related-posts">
					<h2>Related questions</h2>
					<ul class="related-posts">
						<li class="related-item"><h3><a href="#"><i class="fa fa-angle-double-right"></i>This Is My Second Poll Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="fa fa-angle-double-right"></i>This is my third Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="fa fa-angle-double-right"></i>This is my fourth Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="fa fa-angle-double-right"></i>This is my fifth Question</a></h3></li>
					</ul>
				</div><!-- End related-posts -->
				
				<div id="commentlist" class="page-content">
					<div class="boxedtitle page-title"><h2>Answers ( <span class="color"><%=@ct.count%></span> )</h2></div>
					<ol class="commentlist clearfix">
					    <li class="comment">
							<%  
									@ct.each do |comment|
										user = User.find(comment.user_id)
							%>
					        <div class="comment-body comment-body-answered clearfix"> 
					            <div class="avatar">
					            	<a href="/profile/<%=comment.user_id%>" original-title="ahmed" class="question-author-img tooltip-n"><img alt="" src="/images/profile/avatar.png"></a>

					            	</div>
					            <div class="comment-text">
					                <div class="author clearfix">
					                	<div class="comment-author">
					                <%= link_to user.name, {:controller => "users",:action => "show",:id => comment.user_id} %>
					
					                	</div>
					                	<div class="comment-vote">
						                	<ul class="question-vote">
<%pc = Votecom.where("com_id = ? AND vote_type = ?",comment.id,1).count
  pcS = "+" + pc.to_s
%>
<span class="question-vote-result" data-id="<%=comment.id%>"><%=pcS%></span>						                		
<% if session[:signed] == true %>
 <% 	ret = islikedcom? comment.id 
 		if ret != true
 %>

       <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, clike_post_comment_path(@post.id,:id => comment.id),remote: true, class: 'cvote',style: 'float:right',data: { toggle_href: cdislike_post_comment_path(@post.id,:id => comment.id), id:
comment.id }%>


<%		end 
		if ret != false
%>

      <%= link_to '<i class="fa fa-thumbs-o-down"></i>'.html_safe, cdislike_post_comment_path(@post.id,:id => comment.id),:remote => true, class: 'cvote',style: 'float:right',data: { toggle_href: clike_post_comment_path(@post.id,:id => comment.id), id:
comment.id }%>

<% 		end 
  end
  #negative comment string
  nc = Votecom.where("com_id = ? AND vote_type = ?",comment.id,-1).count
  ncS = "-" + nc.to_s
%>
<span class="question-vote-result2" data-id="<%=comment.id%>"><%=ncS%></span>

						                	</ul>
					                	</div>
			
					                	<div class="comment-meta">
					                        <div class="date"><i class="fa fa-clock-o"></i><%=time_ago_in_words(comment.created_at)%> ago</div> 
					                    </div>
					                    <a class="comment-reply" href="#"><i class="fa-mail-reply fa"></i>Reply</a> 
					                </div>
					                <div class="text"><p><%=comment.content%></p>
					                </div>
									<div class="question-answered question-answered-done"><i class="fa fa-check"></i>Best Answer</div>
					            </div>
					        </div>
					        <%end%>	

					    </li>
					</ol><!-- End commentlist -->
				</div><!-- End page-content -->
				<div id="respond" class="comment-respond page-content clearfix">
				    <div class="boxedtitle page-title"><h2>Leave a reply</h2></div>
				    
				    <%= form_for @comment, :url => post_comments_path(@post) do |f| %>
				        <div id="respond-textarea">
				            <p>
				                <label class="required" for="comment">Comment<span>*</span></label>
				          
				                <%= f.text_area :content,cols:'58',rows:'8',placeholder:'Description'%>
				            </p>
				        </div>
				        <p class="form-submit">
				        	<%= f.submit "Post Your Answer",id:"publish-question",class: "button color small submit" %>
				        </p>
				    <%end%>
				</div>
				
				<div class="post-next-prev clearfix">
				    <p class="prev-post">
				        <a href="#"><i class="fa-fast-backward fa"></i>&nbsp;Prev question</a>
				    </p>
				    <p class="next-post">
				        <a href="#">Next question&nbsp;<i class="fa-fast-forward fa"></i></a>                                
				    </p>
				</div><!-- End post-next-prev -->	
			</div><!-- End main -->
			<aside class="col-md-3 sidebar">
				<div class="widget widget_stats">
					<h3 class="widget_title">Stats</h3>
					<div class="">
						<ul>
							<li><i class="fa fa-question"></i> Questions ( <span><%=Post.count%></span> )</li>
							<li><i class="fa fa-comment"></i> Answers ( <span><%=Comment.count%></span> )</li>
						</ul>
					</div>
				</div>
				
				<div class="widget widget_social">
					<h3 class="widget_title">Find Us</h3>
					<ul>
						<li class="rss-subscribers">
							<a href="#" target="_blank">
							<strong>
								<i class="fa fa-rss"></i>
								<span>Subscribe</span><br>
								<small>To RSS Feed</small>
							</strong>
							</a>
						</li>
						<li class="facebook-fans">
							<a href="#" target="_blank">
							<strong>
								<i class="social_icon-facebook"></i>
								<span>5,000</span><br>
								<small>People like it</small>
							</strong>
							</a>
						</li>
						<li class="twitter-followers">
							<a href="#" target="_blank">
							<strong>
								<i class="social_icon-twitter"></i>
								<span>3,000</span><br>
								<small>Followers</small>
							</strong>
							</a>
						</li>
						<li class="youtube-subs">
							<a href="#" target="_blank">
							<strong>
								<i class="fa fa-play"></i>
								<span>1,000</span><br>
								<small>Subscribers</small>
							</strong>
							</a>
						</li>
					</ul>
				</div>

				<div class="widget widget_highest_points">
					<h3 class="widget_title">Highest points</h3>
					<ul>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/admin.jpg" alt=""></a>
							</div> 
							<h6><a href="#">admin</a></h6>
							<span class="comment">12 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/avatar.png" alt=""></a>
							</div> 
							<h6><a href="#">vbegy</a></h6>
							<span class="comment">10 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="/images/avatar.png" alt=""></a>
							</div> 
							<h6><a href="#">ahmed</a></h6>
							<span class="comment">5 Points</span>
						</li>
					</ul>
				</div>
				
				<div class="widget widget_tag_cloud">
					<h3 class="widget_title">Tags</h3>
					<%
						@tag.each do |t|							
					%>
						<%=link_to t.name,{:controller => "tags",:action => "show",:id => t.id}	 %>
					<%end%>
				</div>
				
				<div class="widget">
					<h3 class="widget_title">Recent Questions</h3>
					<ul class="related-posts">
						<li class="related-item">
							<h3><a href="#">This is my first Question</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<div class="clear"></div><span>Feb 22, 2014</span>
						</li>
						<li class="related-item">
							<h3><a href="#">This Is My Second Poll Question</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<div class="clear"></div><span>Feb 22, 2014</span>
						</li>
					</ul>
				</div>
				
			</aside><!-- End sidebar -->
		</div><!-- End row -->
	</section><!-- End container -->